// Enter any custom Sass in this file.
// Changing the size of the Canada flag in the banner. Keeping the banner size the same

.navbar-brand img {
  width: 50%;
}

// Goal banner text to white

.goal-banner h1, .goal-banner p {
    color: white;
}
// Goal banners - set background colours.

.goal-1.goal-banner {
    background-color: #E52B3D;
}
.goal-2.goal-banner {
    background-color: #DDA63A;
}
.goal-3.goal-banner {
    background-color:  #4C9F38;
}
.goal-4.goal-banner {
    background-color: #C42130;
}
.goal-5.goal-banner {
    background-color: #FF3E24;
}
.goal-6.goal-banner {
    background-color: #28BCE1;
}
.goal-7.goal-banner {
    background-color: #FCC30B;
}
.goal-8.goal-banner {
    background-color: #A21942;
}
.goal-9.goal-banner {
    background-color: #FD6925;
}
.goal-10.goal-banner {
    background-color: #DD1367;
}
.goal-11.goal-banner {
    background-color: #FD9C27;
}
.goal-12.goal-banner {
    background-color: #BF8B2E;
}
.goal-13.goal-banner {
    background-color: #417D46;
}
.goal-14.goal-banner {
    background-color: #0A96D8;
}
.goal-15.goal-banner {
    background-color: #57BE2F;
}
.goal-16.goal-banner {
    background-color: #00689C;
}
.goal-77.goal-banner {
    background-color: #1F4A6A;
}
