// Enter any custom Sass in this file.
// Changing the size of the Canada flag in the banner. Keeping the banner size the same

.navbar-brand img {
  width: 70%;
}

// Goal banner text to white

.goal-banner h1, .goal-banner p {
    color: white;
}

// Narrowing goal banners
.goal-banner {
    padding-top: 15px;
    padding-bottom: 15px;
}
// Goal banners - set background colours.

.goal-1.goal-banner {
  background-color: #E52B3D;
}
.goal-1.heading {
  background-color: #E52B3D;
  border-bottom: 5px solid #97131f; }
.goal-1.goal-indicators div span {
  border-color: #97131f;
  color: #97131f; }

.goal-2.heading {
  background-color: #DDA63A;
  border-bottom: 5px solid #976d1a; }
.goal-2.goal-indicators div span {
  border-color: #976d1a;
  color: #976d1a; }
.goal-2.goal-banner {
    background-color: #DDA63A;
}


.G3-background {
  background-color: #4C9F38;
  border-color: transparent;
  margin-bottom: 5px; }
.goal-3.heading {
  background-color: white;
  border-bottom: 15px solid #4C9F38;
  border-top: 15px solid #4C9F38; }
.goal-3.goal-banner {
    background-color:  #4C9F38;
}
.goal-3.heading {
  background-color: #4C9F38;
  border-bottom: 5px solid #28541d; }
.goal-3.goal-indicators div span {
  border-color: #28541d;
  color: #28541d; }

.goal-4.goal-banner {
    background-color: #C42130;
}
.goal-4.heading {
  background-color: #C42130;
  border-bottom: 5px solid #6d121b; }
.goal-4.goal-indicators div span {
  border-color: #6d121b;
  color: #6d121b; }

.goal-5.goal-banner {
    background-color: #FF3E24;
}
.goal-5.heading {
  background-color: #FF3E24;
  border-bottom: 5px solid #bd1600; }
.goal-5.goal-indicators div span {
  border-color: #bd1600;
  color: #bd1600; }

.goal-6.goal-banner {
    background-color: #28BCE1;
}
.goal-6.heading {
  background-color: #28BCE1;
  border-bottom: 5px solid #14768f; }
.goal-6.goal-indicators div span {
  border-color: #14768f;
  color: #14768f; }

.goal-7.goal-banner {
    background-color: #FCC30B;
}
.goal-7.heading {
  background-color: #FCC30B;
  border-bottom: 5px solid #9f7a02; }
.goal-7.goal-indicators div span {
  border-color: #9f7a02;
  color: #9f7a02; }

.goal-8.goal-banner {
    background-color: #A21942;
}
.goal-8.heading {
  background-color: #A21942;
  border-bottom: 5px solid #4a0b1e; }
.goal-8.goal-indicators div span {
  border-color: #4a0b1e;
  color: #4a0b1e; }

.goal-9.goal-banner {
    background-color: #FD6925;
}
.goal-9.heading {
  background-color: #FD6925;
  border-bottom: 5px solid #ba3c02; }
.goal-9.goal-indicators div span {
  border-color: #ba3c02;
  color: #ba3c02; }

.goal-10.goal-banner {
    background-color: #DD1367;
}
.goal-10.heading {
  background-color: #DD1367;
  border-bottom: 5px solid #7f0b3b; }
.goal-10.goal-indicators div span {
  border-color: #7f0b3b;
  color: #7f0b3b; }

.goal-11.goal-banner {
    background-color: #FD9C27;
}
.goal-11.heading {
  background-color: #FD9C27;
  border-bottom: 5px solid #bc6802; }
.goal-11.goal-indicators div span {
  border-color: #bc6802;
  color: #bc6802; }

.goal-12.goal-banner {
    background-color: #BF8B2E;
}
.goal-12.heading {
  background-color: #BF8B2E;
  border-bottom: 5px solid #6d4f1a; }
.goal-12.goal-indicators div span {
  border-color: #6d4f1a;
  color: #6d4f1a; }

.goal-13.goal-banner {
    background-color: #417D46;
}
.goal-13.heading {
  background-color: #417D46;
  border-bottom: 5px solid #1e3a20; }
.goal-13.goal-indicators div span {
  border-color: #1e3a20;
  color: #1e3a20; }

.goal-14.goal-banner {
    background-color: #0A96D8;
}
.goal-14.heading {
  background-color: #0A96D8;
  border-bottom: 5px solid #055277; }
.goal-14.goal-indicators div span {
  border-color: #055277;
  color: #055277; }

.goal-15.goal-banner {
    background-color: #57BE2F;
}
.goal-15.heading {
  background-color: #57BE2F;
  border-bottom: 5px solid #326c1b; }
.goal-15.goal-indicators div span {
  border-color: #326c1b;
  color: #326c1b; }

.goal-16.goal-banner {
    background-color: #00689C;
}
.goal-16.heading {
  background-color: #00689C;
  border-bottom: 5px solid #002436; }
.goal-16.goal-indicators div span {
  border-color: #002436;
  color: #002436; }

.goal-17.goal-banner {
    background-color: #1F4A6A;
}
.goal-17.heading {
  background-color: #1F4A6A;
  border-bottom: 5px solid #08131b; }
.goal-17.goal-indicators div span {
  border-color: #08131b;
  color: #08131b; }
